
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Step 2</h1>
        <h2 class="fw-light">Lens Category</h2>
        <p class="lead text-muted">What type and colour of sunglasses do you need?</p>
       
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col" *ngFor="let items of visontypedetail">
         <div *ngIf="(items.parent == 0)">
         
          <div class="card shadow-sm" >
          <br><br>
            <img src={{items.image}} >
            <div class="card-body">
            <h1 class="option-value" > 
                {{items.name}}
            </h1>
            <span class="option-price">
              <div *ngIf="(items.haschild == 0)">
              <a routerLink="../lens-package">
                {{items.prize}}
              </a>
              </div>
              <div *ngIf="(items.haschild == true)">
                <!-- Show hidden Child elements of the same parent id on the top of the component in a div-->
                <a href="../verifocal-card">{{items.prize}}</a>
                <!--- -->
              </div>
            </span>
              <div class="option-description"><p>
                {{items.description}}              
              </p></div>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
             </div>
        </div>
        

      
      
      </div>
    </div>
  </div>

</main>