<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Step 3</h1>
        <h2 class="fw-light">Lens Package</h2>
        <p class="lead text-muted">Select a package that best suits your needs:</p>
       
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            
            <div class="card-body">
            <h1 class="option-value" routerLink="../add-prescription">Bronze</h1>
            <span class="option-price">
              <a routerLink="../add-prescription" >From  $12</a>
            </span>
            <hr>
              <span ><img src="assets/lens1.png" style="padding: 0 2em 2em 0;">Standard lens 1.5</span>
             <hr>
             <span ><img src="assets/lens2.png" style="padding: 0 2em 2em 0;">Scratch Resistance</span>
             
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            

            <div class="card-body">
                <h1 class="option-value" routerLink="../add-prescription">Silver</h1>
            <span class="option-price">
              <a routerLink="../add-prescription" >From  $29</a>
            </span>
                      <hr>
              <span ><img src="assets/lens1.png" style="padding: 0 2em 2em 0;">Standard lens 1.5</span>
             <hr>
             <span ><img src="assets/lens2.png" style="padding: 0 2em 2em 0;">Scratch Resistance</span>
             <hr>
             <span ><img src="assets/lens3.png" style="padding: 0 2em 2em 0;">Anti Reflection</span>
             
              <div class="d-flex justify-content-between align-items-center">
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
      

            <div class="card-body">
                <h1 class="option-value" routerLink="../add-prescription">Gold</h1>
            <span class="option-price">
              <a routerLink="../add-prescription" >From  $49</a>
            </span>
                    <hr>
              <span ><img src="assets/lens1.png" style="padding: 0 2em 2em 0;">Standard lens 1.5</span>
             <hr>
             <span ><img src="assets/lens2.png" style="padding: 0 2em 2em 0;">Scratch Resistance</span>
             <hr>
             <span ><img src="assets/lens3.png" style="padding: 0 2em 2em 0;">Anti Reflection</span>
             <hr>
             <span ><img src="assets/lens4.png" style="padding: 0 2em 2em 0;">Anti UV</span>
              <div class="d-flex justify-content-between align-items-center">
             
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            
            <div class="card-body">
             <h1 class="option-value" routerLink="../add-prescription">Platinum</h1>
            <span class="option-price">
              <a routerLink="../add-prescription" >From  $65</a>
            </span>
                      <hr>
              <span ><img src="assets/lens1.png" style="padding: 0 2em 2em 0;">Standard lens 1.5</span>
             <hr>
             <span ><img src="assets/lens2.png" style="padding: 0 2em 2em 0;">Scratch Resistance</span>
             <hr>
             <span ><img src="assets/lens3.png" style="padding: 0 2em 2em 0;">Anti Reflection</span>
             <hr>
             <span ><img src="assets/lens4.png" style="padding: 0 2em 2em 0;">Anti UV</span>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        
      
      

      
      
      </div>
    </div>
  </div>

</main>

