<br><br>
  <div class="container">
    <div class="row">
        <div class="col">
            <div class="heading" >Your saved prescriptions</div>
            
                <p class="heading2">Please log in to access your saved prescriptions.Alternatively, you can send us prescription later</p>
            <form>
                <input type="email" placeholder="Enter your email">
                <br><br>
                 <input type="password" placeholder="Enter your password">
                 <br><br>
                <button class="btn btn-primary btn-lg" id="select">Login</button> 
                <br><br>
            </form>
        </div>
    </div>
</div>