<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Step 4</h1>
        <h2 class="fw-light">Prescription</h2>
        <p class="lead text-muted">Let us know how you want to provide your prescription:</p>
       
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           
            <div class="card-body">
            <h1 class="option-value" >Send prescription later</h1>
            <span class="option-price">
              
            </span>
             <p>Do you still need an eye test or simply don’t have your prescription to hand? Send your prescription later via email, telephone or post.</p>
              <button class="btn btn-primary btn-lg" id="select" routerLink="/">Select</button>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           

            <div class="card-body">
                <h1 class="option-value" >Enter new prescription</h1>
            <span class="option-price">
             
            </span>
           <p>Enter your prescription here and one of our qualified opticians will check through your details.</p>
               <button class="btn btn-primary btn-lg" id="select"  routerLink="../add-prescription-form">Select</button>
              <div class="d-flex justify-content-between align-items-center">
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
         

            <div class="card-body">
                <h1 class="option-value" >Use saved prescription</h1>
            <span class="option-price">
             
            </span>
       <p>Purchased from us before? If so, you can use an existing prescription saved to your Account here.</p>
              <button class="btn btn-primary btn-lg" id="select"routerLink="../sign-in">Select</button> 
              <div class="d-flex justify-content-between align-items-center">
             
              </div>
            </div>
          </div>
        </div>

       
        
      
      

      
      
      </div>
    </div>
  </div>

</main>

