<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Step 4</h1>
        <h2 class="fw-light">Prescription</h2>
        <p class="lead text-muted">Let us know how you want to provide your prescription:</p>
       
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container" >

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        
        <div class="col" *ngFor="let items of lenscategorydetail">
         <div *ngIf="(items.parent == 0)">
          <br><br>
          <div class="card shadow-sm" >
           
            <div class="card-body">
            <h1 class="option-value" > 
                {{items.name}}
            </h1>
               <div class="option-description"><p>
                {{items.description1}}              
              </p></div>
            <span class="option-price">
              <div *ngIf="(items.haschild == 0)">
                <button class="btn btn-primary btn-lg" id="select" routerLink="/">{{items.button}}</button>
              </div>
              <div *ngIf="(items.haschild == 1)">
                <!-- Show hidden Child elements of the same parent id on the top of the component in a div-->
                <button class="btn btn-primary btn-lg" id="select" routerLink="../add-prescription-form">{{items.button}}</button>
                <!--- -->
              </div>
                <div *ngIf="(items.haschild == 2)">
                <!-- Show hidden Child elements of the same parent id on the top of the component in a div-->
               <button class="btn btn-primary btn-lg" id="select" routerLink="../sign-in">{{items.button}}</button>
                <!--- -->
              </div>
                <div *ngIf="(items.haschild == 3)">
                <!-- Show hidden Child elements of the same parent id on the top of the component in a div-->
              <button class="btn btn-primary btn-lg" id="select" routerLink="../upload-file">{{items.button}}</button>
                <!--- -->
              </div>
            </span>
           
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
             </div>
        </div>
        

      
      
      </div>
    </div>
  </div>


</main>

