<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Step 2</h1>
        <h2 class="fw-light">Lens Category</h2>
        <p class="lead text-muted">What type of lenses do you need?</p>
       
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/clear.png" routerLink="../lens-package">
            <div class="card-body">
            <h1 class="option-value" routerLink="../lens-package"> Clear</h1>
            <span class="option-price">
              <a routerLink="../lens-package" >FREE</a>
            </span>
              <p>Transpernt lenses for everyday life</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="assets/bluelight.png" routerLink="../lens-package" >

            <div class="card-body">
                <h1 class="option-value" routerLink="../lens-package">Blue Light Lenses</h1>
            <span class="option-price">
              <a routerLink="../lens-package" >From  $10</a>
            </span>
            <p class="option-description">
            These lenses use a special protective shield that helps filter out blue light from screens. They also reduce glare and offer greater visual comfort.
          </p>
              <div class="d-flex justify-content-between align-items-center">
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="assets/sunglasses.png" routerLink="../lens-package">

            <div class="card-body">
                <h1 class="option-value" routerLink="../lens-package">Sunglases</h1>
            <span class="option-price">
              <a routerLink="../lens-package" >From  $40</a>
            </span>
           <p class="option-description">
            Choose from dark, gradient, or polarised tints, all with 100% UVA/B protection.
          </p>
              <div class="d-flex justify-content-between align-items-center">
             
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="assets/teansition.png" routerLink="../lens-package">

            <div class="card-body">
             <h1 class="option-value" routerLink="../lens-package">Transitions® Light Intelligent Lenses™</h1>
            <span class="option-price">
              <a routerLink="../lens-package" >From  $55</a>
            </span>
            <p class="option-description">
            Transitions Light Intelligent Lenses adapt to changing light conditions, going from clear indoors to dark outdoors. They block 100% of UV rays and help protect against harmful blue light. Select from a range of Transitions lenses.
          </p>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        
      
      

      
      
      </div>
    </div>
  </div>

</main>
