<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Step 1</h1>
        <h2 class="fw-light">Vison Type</h2>
        <p class="lead text-muted">How you will use your glasses? Select one option</p>
       
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/distance.png" routerLink="../lens-category">
            <div class="card-body">
            <h1 class="option-value" routerLink="../lens-category"> Distance</h1>
            <span class="option-price">
              <a routerLink="../lens-category" >FREE</a>
            </span>
              <div class="option-description"><p>You mostly need glasses to see things in the distance, e.g. whilst driving.</p></div>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="assets/reading.png" routerLink="../lens-category" >

            <div class="card-body">
                <h1 class="option-value" routerLink="../lens-category"> Reading</h1>
            <span class="option-price">
              <a routerLink="../lens-category" >FREE</a>
            </span>
            <div class="option-description"><p>You mostly need glasses to see things up close, e.g. papers, documents, etc.</p></div>
              <div class="d-flex justify-content-between align-items-center">
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src="assets/computer.png" routerLink="../lens-category">

            <div class="card-body">
                <h1 class="option-value" routerLink="../lens-category">Computer</h1>
            <span class="option-price">
              <a routerLink="../lens-category" >FREE</a>
            </span>
            <div class="option-description"><p>You need glasses when using a computer or anything else at arm's length.</p></div>
              <div class="d-flex justify-content-between align-items-center">
             
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="assets/bifocal.jpg" routerLink="../lens-category">

            <div class="card-body">
             <h1 class="option-value" routerLink="../lens-category">Bifocal</h1>
            <span class="option-price">
              <a routerLink="../lens-category" >From 
              $39</a>
            </span>
            <div class="option-description"><p>You need glasses to see things up close and in the distance.Bifocal lenses have a visible line separating the near and far distance viewing areas.</p></div>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/verifocal.jpg" routerLink="../lens-category">

            <div class="card-body">
              <h1 class="option-value" routerLink="../lens-category">Varifocal</h1>
            <span class="option-price">
              <a routerLink="../lens-category" >From $49</a>
            </span>
          <div class="option-description"><p>You need glasses to see things up close and in the distance.
Varifocal lenses offer a smooth, continuous vision from distance to intermediate to near vision.</p></div>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
      

      
      
      </div>
    </div>
  </div>

</main>